.page{
    position: absolute;
    width: 100%;
    height: 100%;
}



.asideLeft{
    width: 30%;
    height: 60%;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-style:none;
   border-bottom-style:inset;
   border-left-style:none;
   border-right-style:inset;
   border-width: 2.5px;
}

.asideLeft img{
    border-radius: 180px;
    width: 10vw; /* viewport width의 20% */
    height: 10vw; /* viewport width의 20% */
    max-width: 300px; /* 최대 너비 설정 */
    max-height: 300px; /* 최대 높이 설정 */
}

.asideRight{
    width: 70%;
    height: 30%;
    padding: 20px;
    font-size: 18px;
    float:right;
    display: flex;
    flex-direction: column;
}