.Comment {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 600px;
  margin: 10rem;
  color: #262626; /* 기본 글꼴 색상 */
}

h1 {
  text-align: center;
  color: #333;
}

.comment-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.comment-box textarea {
  resize: none;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #262626; /* 텍스트 필드 글꼴 색상 */
  background-color: #ffffff; /* 텍스트 필드 배경색 */
}

.comment-box button {
  padding: 10px 15px;
  font-size: 16px;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #007bff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.comment-box button:hover {
  background-color: #007bff;
  color: #fff;
}

.comments-list {
  margin-top: 20px;
}

.comment {
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  margin-bottom: 10px;
  color: #262626; /* 댓글 글꼴 색상 */
}